<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="stylesheets/style_contents.css">

    <title>aduio book</title>
</head>
<body>
  <% include ./partials/header %>
  <h1>콘텐츠 등록하기</h1>
  
  <select style="display:none;" id="encodingTypeSelect">
    <option value="wav">Waveform Audio (.wav)</option>
  </select>

  <div class="card" style="width: 100%;">
      <h3 >오늘도 아이들에게 시를 읽어주시겠어요?</h3>
      <img src="../images/smile.jpg" class="card-img-top" alt="smile">
      <div >
        <p >읽어주시는 시를 듣고 아이들이 한글을 배워요!</p>
      </div>
    </div>


  <div id="controls">
    <button id="recordButton">Record</button>
    <button id="stopButton" disabled>Stop</button>
  </div>

  <div style="display:none;"  id="formats"></div>
  <pre  id="log"></pre>
  <ol id="recordingsList"></ol>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="javascripts/WebAudioRecorder.min.js"></script>
  <script src="javascripts/app.js"></script>
</body>
</html>