<!DOCTYPE html>
<html>
  <head>
    <title>로그인</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
head {

  text-align: center;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  text-align: center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}


    </style>
  </head>
  <body>
    <!-- <div>
      <div>
        <p><%= (res.wrong)?'휴대폰번호를 잘못입력하였습니다.':''%></p>
      </div>
      <form action="/login" method="post">
        <div>
          <label><b>휴대폰번호</b></label>
          <input type="text" placeholder="휴대폰번호를 입력해주세요." name="phonenum">
          <button type="submit">로그인</button>
        </div>
      </form>
      <div>
        <a href="/signup">회원가입</a>
      </div>
    </div> -->


    <div class="container">

        <form class="form-signin" action="/login" method="post">
          <h2 class="form-signin-heading">로그인</h2>
          <p><%= (res.wrong)?'휴대폰번호를 잘못입력하였습니다.':''%></p>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="text" id="inputEmail" class="form-control" placeholder="휴대폰번호를 입력해주세요." required autofocus required="required" name="phonenum">

          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

        <div id="formFooter">
          <a class="underlineHover" href="/signup">회원가입</a>
        </div>
        
      </div> <!-- /container -->
  </body>
</html>
